registry=https://tfs.gocompare.local/Gocompare/_packaging/DesignSystem/npm/registry/
always-auth=true
strict-ssl=false
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 4/3/2019.
; begin auth token
//tfs.gocompare.local/Gocompare/_packaging/DesignSystem/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkJZT3poZzIwTGQ5Q050LUZDMVlEOTRpVnJCYyJ9.eyJuYW1laWQiOiIzZjk4OWM4ZS1jZWUxLTRkMmItOTFjNS1hYjcxNjYwNWZhM2YiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGRmMGJkN2QtZjk4OC00OGY0LTg4MDAtZjQ3ZmIyZTA1ZTNkIiwic2lkIjoiYTJmYzA2NTktZmEyYi00YzFhLTk0NDUtOGRhM2JhYjJkYTk3IiwiaXNzIjoiMjE2OWUyZmEtMWQ3YS00YzYyLWJmYTktYmVhOTBmNmYyMzgzIiwiYXVkIjoiMjE2OWUyZmEtMWQ3YS00YzYyLWJmYTktYmVhOTBmNmYyMzgzIiwibmJmIjoxNTQ2NTI3MTc2LCJleHAiOjE1NTQzMDMxNzZ9.HW-VO5B-zuk_qEV4YSj7t6e5UwiZ2g32dAPO_GGCYq_D8ZjdsaRM6BS1bo2b6knA9O5awXjmyMlwxZDVZBvaCGer0eZYstLiLIr7w56_Jx-BCbsWxfk2W3tK-TrHjT5sgoBnPNvuV4DefkjNQv1tCbq7lqD13kTzXO22KolV79NjM1LmHOG4STo8kWbatd3Ac5pZACC3-Yb1-9Izd900F1wVpP-1ixT-KN2emGMKE8LrIE67seLfwAhqCo48bbpusI3HXBA7OLaNiS0hOMLaI6XhYvbVqmso8yG7t8WzQ0fnMntxrnGkB_L3NmZjUnROS8G4-z4Z3A5H-OhpDfPRZA
//tfs.gocompare.local/Gocompare/_packaging/DesignSystem/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkJZT3poZzIwTGQ5Q050LUZDMVlEOTRpVnJCYyJ9.eyJuYW1laWQiOiIzZjk4OWM4ZS1jZWUxLTRkMmItOTFjNS1hYjcxNjYwNWZhM2YiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGRmMGJkN2QtZjk4OC00OGY0LTg4MDAtZjQ3ZmIyZTA1ZTNkIiwic2lkIjoiYTJmYzA2NTktZmEyYi00YzFhLTk0NDUtOGRhM2JhYjJkYTk3IiwiaXNzIjoiMjE2OWUyZmEtMWQ3YS00YzYyLWJmYTktYmVhOTBmNmYyMzgzIiwiYXVkIjoiMjE2OWUyZmEtMWQ3YS00YzYyLWJmYTktYmVhOTBmNmYyMzgzIiwibmJmIjoxNTQ2NTI3MTc2LCJleHAiOjE1NTQzMDMxNzZ9.HW-VO5B-zuk_qEV4YSj7t6e5UwiZ2g32dAPO_GGCYq_D8ZjdsaRM6BS1bo2b6knA9O5awXjmyMlwxZDVZBvaCGer0eZYstLiLIr7w56_Jx-BCbsWxfk2W3tK-TrHjT5sgoBnPNvuV4DefkjNQv1tCbq7lqD13kTzXO22KolV79NjM1LmHOG4STo8kWbatd3Ac5pZACC3-Yb1-9Izd900F1wVpP-1ixT-KN2emGMKE8LrIE67seLfwAhqCo48bbpusI3HXBA7OLaNiS0hOMLaI6XhYvbVqmso8yG7t8WzQ0fnMntxrnGkB_L3NmZjUnROS8G4-z4Z3A5H-OhpDfPRZA
; end auth token